:root {
  --color-bg: #253334;
  --color-bg-hover: #314344;
  --color-fg: #fff;
  --color-text: #000;
  --color-card-bg: #f7f3f0;
  --color-card-bg-hover: #ffffff;
  --color-inactive: rgba(255, 255, 255, 0.5);
  --color-text-btn: #7c9a92;
  --color-text-btn-hover: #9bb8b0;
  --color-placeholder: #bec2c2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Alegreya', serif, 'Alegreya Sans', sans-serif;
  color: var(--color-fg);
  background: var(--color-bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
